/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #F5843D;
    --color-bg-primary: #131313;
    --color-bg-secondaire: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(47,52,58,1) 100%);
    --color-bg-third: #0B0D17;
}
